.game {
  margin-top: 90px;
}

.game__container {
  max-width: 302px;
  margin: 0 auto;
}

.game__title {
  font-size: 24px;
  margin-bottom: 8px;
  font-weight: 700;
  color: #16181dff;
}
.game__text {
  font-size: 16px;
  color: #343841ff;
  font-weight: 400;
}

.game__list {
  display: flex;
  gap: 16px;
  flex-direction: column;
  margin-top: 16px;
}

.game__list-item {
  padding: 32px 20px 20px 32px;
  border-radius: 12px;
  background: #ffffffff;
  box-shadow:
    0px 2px 4px #00000012,
    0px 0px 0px #171a1f00;
  display: flex;
  align-items: center;
  gap: 28px;
}
.game__list-item:hover{
  box-shadow:
  0px 30px 30px #f25aa6ff,
  0px 0px 0px #171a1f00;
  transform: scale(1.1);
  transition: transform 1s ease;
}
.game__list-title {
  font-size: 16px;
  font-weight: 600;
  color: #16181dff;
}
.game__list-text {
  font-size: 12px;
  font-weight: 400;
  color: #343841ff;
}
.game__list-link {
  color: #f25aa6ff;
  display: flex;
  align-items: center;
  border: none;
  background: none;
  font-size: 14px;
  font-weight: 600;
}
.disabled-link{
  pointer-events: none;
  color: grey;
   cursor: default;
}
@media (min-width: 1440px) {
  .game{
    margin-top: 149px;
  }
  .game__container {
    max-width: 1184px;
  }
  .game__title {
    font-size: 36px;
    margin-bottom: 16px;
  }
  .game__text {
    font-size: 18px;
  }
  .game__list {
    display: flex;

    gap: 31px;
    flex-direction: row;
    margin-top: 64px;
  }
  .game__list-item {
    padding: 32px 44px 32px 32px;
    gap: 22px;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
  }
  .game__list-title {
    font-size: 24px;
    font-weight: 700;
  }
  .game__list-text {
    font-size: 16px;
    font-weight: 400;
  }
  .game__list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .game__list-wrappper-img {
    background: #ffffffff;
    border-radius: 14px;
    box-shadow:
      0px 2px 4px #00000012,
      0px 0px 0px #171a1f00;
    padding: 12px;
  }
}
