.game2__container {
  max-width: 302px;
  margin: 0 auto;
  margin-top: 100px;
}

.game2-wrapper__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.game2-wrapper__btn {
  margin-top: 50px;
  display: flex;
  gap: 10px;
}

.game2__btn {
  padding: 10px 20px;
  border: 1px solid #f25aa6ff;
  border-radius: 10px;
  background-color: #f25aa6ff;
  color: #ffff;
  cursor: pointer;
}
.game2__start {
  margin-top: 20px;
  padding: 10px 20px;
  border: 1px solid #f25aa6ff;
  border-radius: 10px;
  background-color: #f25aa6ff;
  color: #ffff;
  cursor: pointer;
}
.game2__start-text {
  position: fixed;
}
.game2__start-text.disable {
  display: none;
}
.animation-first {
  animation: 2s first-btn forwards;
}
.animation-second {
  animation: 2s second-btn forwards;
}
.animation-third {
  animation: 2s third-btn forwards;
}
.flip-up {
  animation: flipUp 0.6s forwards;
}
.game2__final-link {
  display: inline-block;
  margin-top: 20px;
  transition: color 0.5s ;
}
.game2__final-link:hover{
  color: #f25aa6ff;

}

@keyframes first-btn {
  0% {
    color: #f25aa6ff;
    transform: rotateY(0deg) translateX(0);
  }

  20% {
    color: #f25aa6ff;
    transform: rotateY(180deg) translateX(0);
  }

  50% {
    color: #f25aa6ff;
    transform: rotateY(180deg) translateX(-180px);
  }

  75% {
    color: #f25aa6ff;
    transform: rotateY(180deg) translateX(-80px);
  }

  100% {
    color: #f25aa6ff;
    transform: rotateY(180deg) translateX(-180px);
  }
}

@keyframes second-btn {
  0% {
    color: #f25aa6ff;
    transform: rotateY(0deg) translateX(0);
  }

  20% {
    color: #f25aa6ff;
    transform: rotateY(180deg) translateX(0);
  }

  50% {
    color: #f25aa6ff;
    transform: rotateY(180deg) translateX(-80px);
  }

  75% {
    color: #f25aa6ff;
    transform: rotateY(180deg) translateX(100px);
  }

  100% {
    color: #f25aa6ff;
    transform: rotateY(180deg) translateX(0);
  }
}

@keyframes third-btn {
  0% {
    color: #f25aa6ff;
    transform: rotateY(0deg) translateX(0);
  }

  20% {
    color: #f25aa6ff;
    transform: rotateY(180deg) translateX(0);
  }

  50% {
    color: #f25aa6ff;
    transform: rotateY(180deg) translateX(180px);
  }

  75% {
    color: #f25aa6ff;
    transform: rotateY(180deg) translateX(-40px);
  }

  100% {
    color: #f25aa6ff;
    transform: rotateY(180deg) translateX(180px);
  }
}

@keyframes flipUp {
  0% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
