.hero {
  margin-top: 112px;
}

.hero__container {
  max-width: 302px;
  margin: 0 auto;
  height: 100%;
}
.hero__main-img {
  display: none;
}

.hero__title {
  font-size: 30px;
  font-weight: 700;
  color: #16181dff;
}

.hero__text {
  font-size: 14px;
  font-weight: 400;
  color: #343841ff;
  margin-top: 4px;
}
.hero__start-btn {
  padding: 16px;
  font-size: 16px;
  box-shadow:
    0px 4px 6px #f25aa64d,
    0px 0px 0px #171a1f00;
  font-weight: 700;
  color: #ffffffff;
  background: #f25aa6ff;
  border-radius: 9999px;
  border: none;
  margin-top: 32px;
}

@media (min-width: 1440px) {
  .hero__container {
    max-width: 1150px;
    display: flex;
    gap: 110px;
  }
  .hero__main-img {
    display: block;
  }
  .hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .hero__content-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .hero__title {
    font-size: 60px;
    line-height: 66px;
  }
  .hero__text {
    font-size: 20px;
    line-height: 33px;
    margin-top: 23px;
  }
  .hero__main-img {
    border-radius: 20px;
  }
  .hero__start-btn {
    margin-top: 39px;
  }
}
